* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

.main-cover {
  align-items: center;
  backdrop-filter: brightness(0.1);
  background-color: rgba(0, 0, 0, 90%);
  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container {
  background-color: rgba(43, 80, 54, 0.7);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 80%;
  max-width: 80%;
  width: 100%;
}

.logo {
  display: flex;
  height: 10%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.brand-image {
  transform: scale(3);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 90%;
  justify-content: center;
  padding: 100px 100px 40px 100px;
  width: 100%;
}

.title {
  align-items: center;
  display: flex;
  font-family: "Bungee", cursive;
  font-size: 30px;
  height: 20%;
}

.select-options {
  align-items: center;
  display: flex;
  gap: 60px;
  height: 80%;
  justify-content: space-between;
  width: 100%;
}

.button-option {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding: 0 20px;
  width: 33%;
}

.option {
  align-items: center;
  display: flex;
  font-family: "Bungee", cursive;
  height: 20%;
}

.character-image {
  border-radius: 25px;
  border: 2px solid rgb(43, 119, 7);
  height: 80%;
  max-width: 100%;
  object-fit: cover;
}

.options__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding: 50px 100px;
}

.description {
  font-size: 25px;
  height: 60%;
}

.options__area {
  display: flex;
  gap: 20px;
  height: 20%;
  justify-content: space-between;
  width: 100%;
}

.button__option {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Bungee", cursive;
  font-size: 20px;
  height: 100%;
  width: 33%;
}

.single__button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Bungee", cursive;
  font-size: 30px;
}

.end-game {
  align-items: center;
  display: flex;
  font-family: "Bungee", cursive;
  font-size: 50px;
  height: 30%;
  justify-content: center;
}

.end-description {
  font-family: "Bungee", cursive;
  font-size: 40px;
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  height: 60%;
  color: black;
  display: flex;
  justify-content: center;
}

@media (max-width: 1400px) {
  .select-options {
    gap: 30px;
  }
  .button-option {
    padding: 40px 0;
  }
}

@media (max-width: 1200px) {
  .description {
    font-size: 20px;
  }
  .end-description {
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  .options {
    padding: 100px 40px 40px;
    gap: 0;
  }
  .title {
    height: 10%;
    font-size: 25px;
  }
  .select-options {
    height: 90%;
    gap: 20px;
  }
  .button-option {
    padding: 70px 0 0 0;
  }
  .character-image {
    border-radius: 25px;
    border: 2px solid rgb(43, 119, 7);
    height: 60%;
    width: 100%;
  }
  .button__option {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .character-image {
    height: 40%;
  }
  .options__area {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .button__option {
    width: 100%;
  }
  .description {
    font-size: 15px;
  }
  .end-description {
    font-size: 25px;
  }
  .end-game {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .options {
    padding: 60px 20px;
  }
  .brand-image {
    transform: scale(2.4);
  }
  .title {
    font-size: 20px;
  }
  .select-options {
    width: 100%;
    height: 100%;
    padding: 20px 0 0;
    flex-direction: column;
    gap: 10px;
  }
  .character-image {
    width: 40%;
    height: 100%;
  }
  .button-option {
    width: 100%;
    height: 33%;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
  .options__description {
    padding: 30px;
  }

  .end-game {
    font-size: 30px;
  }
  .single__button {
    font-size: 20px;
  }
  .end-description {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .logo {
    position: relative;
  }
  .brand-image {
    transform: scale(0.5);
    position: absolute;
    top: -100px;
  }
  .options {
    padding: 20px;
  }
  .option {
    font-size: 15px;
  }

  .description {
    font-size: 15px;
  }
  .options__area {
    display: flex;
    flex-direction: column;
  }
  .button__option {
    font-size: 15px;
    width: 100%;
  }
  .options__description {
    gap: 5px;
  }
}
